flows.json
[{"id":"a8cb9991.5a4be","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fb84fd1c.513658","type":"mqtt-broker","z":"","name":"Macragge","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c7e54d33.1295b8","type":"inject","z":"a8cb9991.5a4be","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["8a8b5f24.133a2"]]},{"id":"d01d10ab.612ff","type":"debug","z":"a8cb9991.5a4be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":160,"wires":[]},{"id":"8a8b5f24.133a2","type":"mqtt out","z":"a8cb9991.5a4be","name":"","topic":"prueba","qos":"","retain":"","broker":"fb84fd1c.513658","x":260,"y":100,"wires":[]},{"id":"cac89502.ff7c4","type":"mqtt in","z":"a8cb9991.5a4be","name":"","topic":"prueba","qos":"2","datatype":"auto","broker":"fb84fd1c.513658","x":100,"y":160,"wires":[["d01d10ab.612ff"]]}]